<%@ Page Language="VB" AutoEventWireup="true" MasterPageFile="~/Main.master" CodeBehind="Default.aspx.vb" Inherits="CaribbeanProduceWebForms._Default" %>


<asp:Content ID="Content" ContentPlaceHolderID="MainContent" runat="server">
  <%--<script>
      window.location= 'login.aspx'
  </script>--%>

</asp:Content>