﻿<%@ Page Language="vb" MasterPageFile="~/Root.master" AutoEventWireup="false" CodeBehind="Options.aspx.vb" Inherits="CaribbeanProduceWebForms.Options" %>

<%@ Register Assembly="DevExpress.Web.Bootstrap.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web.Bootstrap" TagPrefix="dx" %>

<asp:Content ID="Content" ContentPlaceHolderID="Content" runat="server" >
   
    <br />
    <br />
    <br />
    <br />
    <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   
  
    <dx:ASPxRoundPanel  ID="ASPxRoundPanel1"  style="margin:auto" runat="server" ShowCollapseButton="true" Width="400px" Theme="MaterialCompact" View="GroupBox" ShowHeader="False" HorizontalAlign="Center">


        <PanelCollection>
<dx:PanelContent runat="server" >
     

      <table style="width: 400px;align-content:center;align-items:center;margin:auto">
                    <tr>
                        <td align="Center">

                            <dx:ASPxButton ID="btnCrearOrdenNueva2" runat="server" Text="Crear Orden Nueva" BackColor="#1b458f" Width="300px" Height="150px" Font-Size="20pt" HorizontalAlign="Center" Theme="iOS" ImagePosition="Top">
                                <Image Height="42px" Url="~/Images/NewOrder.png">
                                </Image>
                            </dx:ASPxButton>
                        </td>
                        <td align="Center">
                            <dx:ASPxButton ID="btnHistorialDeOrdenes2" runat="server" Text="Historial de Ordenes" Width="300PX" BackColor="LightGray" ForeColor="Black" Height="150px" Font-Size="20pt" Theme="iOS" ImagePosition="Top" >
                                 <Image Height="42px" Url="~/Images/History.png">
                                </Image>
                            </dx:ASPxButton>
                        </td>
                      
                    </tr>
                </table>

   <%-- <button runat="server" class="btn btn-lg btn-success col-xs-12" id="btnCrearOrdenNueva">
    <span class="glyphicon glyphicon-earphone pull-left"></span>Create New Order</button>

       
    <button runat="server" class="btn btn-lg btn-danger col-xs-12" id="btnHistorialDeOrdenes">
    <span class="glyphicon glyphicon-list pull-left"></span>Order History</button>--%>
  
</dx:PanelContent>
</PanelCollection>


    </dx:ASPxRoundPanel>
   
</asp:Content>